# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.env
.env.*
.venv/
venv/
*.egg-info/
dist/
build/

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# === MySQL Dumps ===
*.sql
*.dump

# === Kafka & Logs ===
kafka-logs/
*.log
logs/
*.tmp

# === Compilados en C ===
*.o
*.out
*.exe
*.a
*.so
*.dll
*.dSYM/
server
client
servidor
cliente

# === IDEs ===
.vscode/
.idea/
*.swp
*.swo

# === Sistema operativo ===
.DS_Store
Thumbs.db

# === Test/Output ===
output/
*.test
*.result
